<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('MentorHub::Dashboard')"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>


<div style="min-height: 100vh;">
    <div class="container pt-5">
        <div class="card ">
            <div class="card-header">
                <h1 class="card-title">Dashboard</h1>
                <small class="card-subtitle text-muted fst-italic" th:text="${currentUser.actualName}"></small>
            </div>
            <div class="card-body">
                <div>
                    <h4 class="my-4">Mentor Sections</h4>
                    <div class="container">
                        <p th:if="${currentUser.getMentorSections().isEmpty()}">You are not a mentor in any section.</p>
                        <ol class="list-group list-group-numbered ">
                            <li class="list-group-item d-flex justify-content-between align-items-start"
                                th:each="section : ${currentUser.getMentorSections()}">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold" th:text="${section.majorSubject}">$major$</div>
                                    Mentee: <span th:text="${section.mentee.actualName}"></span> <br>
                                    Phase: <span th:text="${section.status}"></span>
                                </div>
                                <a class="btn btn-info btn-sm rounded-pill"
                                   th:href="@{/details/{id}(id=${section.id})}">Details</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <h4 class="my-4">Mentee Sections</h4>
                    <div class="container">
                        <p th:if="${currentUser.getMenteeSections().isEmpty()}">You are not a mentee in any section.</p>
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item d-flex justify-content-between align-items-start"
                                th:each="section : ${currentUser.getMenteeSections()}">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold" th:text="${section.majorSubject}">$major$</div>
                                    Mentor: <span th:text="${section.mentor.actualName}"></span> <br>
                                    Phase: <span th:text="${section.status}"></span>
                                </div>
                                <a class="btn btn-info btn-sm rounded-pill"
                                   th:href="@{/details/{id}(id=${section.id})}">Details</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-secondary" th:href="@{/search}">Search</a>
                <a class="btn btn-secondary" th:href="@{/apply}">Apply</a>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

