<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/head"></th:block>
  <link rel="stylesheet" type="text/css" th:href="@{/css/rating.css}">
  <title>MentorHub :: Mentorship Details</title>
</head>

<body>
<th:block th:replace="fragments/header"></th:block>


<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Phase</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>

      <div class="modal-body">

        <div class="rating text-center mb-3">
          <input id="rating-5" type="radio" name="rating" value="5"/><label for="rating-5"><i class="fas fa-2x fa-star"></i></label>
          <input id="rating-4" type="radio" name="rating" value="4"/><label for="rating-4"><i class="fas fa-2x fa-star"></i></label>
          <input id="rating-3" type="radio" name="rating" value="3"/><label for="rating-3"><i class="fas fa-2x fa-star"></i></label>
          <input id="rating-2" type="radio" name="rating" value="2"/><label for="rating-2"><i class="fas fa-2x fa-star"></i></label>
          <input id="rating-1" type="radio" name="rating" value="1"/><label for="rating-1"><i class="fas fa-2x fa-star"></i></label>
        </div>

        <div class="form-floating">
          <textarea class="form-control" id="txtArea" placeholder="Write an opinion..." required style="height: 20vh; resize: none;"></textarea>
          <label for="txtArea">Write an opinion...</label>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
        <button class="btn btn-primary" th:onclick="sendReview()" type="button">Submit</button>
      </div>

    </div>
  </div>
</div>

<!--Content-->
<div style="min-height: 100vh;">
  <div class="container pt-5">
    <div class="card ">


      <div class="card-header">
        <a class="btn btn-secondary rounded-circle" th:href="@{/dashboard}"><i class="fas fa-arrow-left"></i></a>
      </div>


      <div class="card-body">

        <h4 class="my-4">Section Details</h4>
        <div class="row">

          <div class="col-md-4">
            <div class="card bg-light p-3 mb-4">
              <table>
                <tr>
                  <td class="fw-bold">Mentor:</td>
                  <td class="ps-1" th:text="${mentorship.mentor.actualName}"></td>
                </tr>
                <tr>
                  <td class="fw-bold">Mentee:</td>
                  <td class="ps-1" th:text="${mentorship.mentee.actualName}"></td>
                </tr>
                <tr>
                  <td class="fw-bold">Subject:</td>
                  <td class="ps-1" th:text="${mentorship.majorSubject}"></td>
                </tr>
                <tr>
                  <td class="fw-bold">Begin Date:</td>
                  <td id="mentorshipBeginDate" class="ps-1">
                    <th:block th:text="${#dates.format(mentorship.beginDate, 'yyyy/MM/dd HH:mm')}"></th:block>
                    <th:block th:if="${mentorship.beginDate == null}"> &mdash;</th:block>
                  </td>
                </tr>

                <tr>
                  <td class="fw-bold">Status:</td>
                  <td id="mentorshipStatus" class="ps-1" th:text="${mentorship.status}"></td>
                </tr>

              </table>
              <button class="btn btn-secondary mt-3" onclick="nextPhase()" th:if="${mentorship.isNotStarted()}" type="button"> Start</button>
            </div>
          </div>

          <div class="col-md-8">
            <h5 class="mb-3">Phases:</h5>
            <p th:if="${mentorship.phases.isEmpty()}">No phases created, yet. </p>

            <ul id="phaseList" class="list-group">

              <li class="list-group-item"
                  th:each="phase,iter : ${mentorship.phases}" th:id="${phase.id}"
                  th:classappend="${iter.index < mentorship.currentPhaseIndex} ? 'phase-bg-completed' : (${iter.index == mentorship.currentPhaseIndex} ? 'phase-bg-active'  : 'phase-bg')">
                <div class="row">
                  <div class="col">

                    <div>
                      <span th:text="${phase.name}"></span> <br>
                      <small class="text-muted text-nowrap"> End date: <span th:text="${#dates.format(phase.endDate, 'yyyy/MM/dd HH:mm')}"></span> </small>
                    </div>

                    <div class="card mt-2 p-2 bg-light" th:if="${phase.mentorReview != null}">
                      <span class="fst-italic">Mentor's Review: </span>
                      <small class="text-muted fst-italic" th:text="${phase.mentorReview.rating + '/5 stars'}"></small>
                      <th:block th:text="${phase.mentorReview.text}"></th:block>
                    </div>

                    <div class="card mt-2 p-2 bg-light" th:if="${phase.menteeReview != null}">
                      <span class="fst-italic">Mentee's Review: </span>
                      <small class="text-muted fst-italic" th:text="${phase.menteeReview.rating + '/5 stars'}"></small>
                      <th:block th:text="${phase.menteeReview.text}"></th:block>
                    </div>

                  </div>

                  <div class="col-auto mt-3" th:with="review=${currentUser.equals(mentorship.mentor)} ?  ${phase.mentorReview} : ${phase.menteeReview}">

                    <p class="lead" th:if="${iter.index < mentorship.currentPhaseIndex && review != null}"> Done </p>

                    <button class="btn btn-warning rounded-pills" th:if="${iter.index < mentorship.currentPhaseIndex && review == null}" th:onclick="reviewPhase([[${phase.id}]])" type="button">
                      Review
                    </button>

                    <button class="btn btn-primary rounded-pills" onclick="nextPhase()" th:if="${iter.index == mentorship.currentPhaseIndex}" type="button">
                      Complete
                    </button>

                  </div>


                </div>
              </li>


            </ul>

            <a class="btn btn-primary mt-4" th:href="@{/plan/{id}(id=${mentorship.id})}" th:if="${mentorship.isNotStarted()}">Plan</a>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<th:block th:replace="fragments/footer"></th:block>


<script th:inline="javascript">
    const mentorshipId = /*[[${mentorship.id}]]*/ "";
    const userTitle = /*[[${(mentorship.mentor == currentUser)? 'Mentor' : 'Mentee'}]]*/ 'Mentee';
    const myModal = new bootstrap.Modal($("#exampleModal"));
    let selectedPhaseId = null;


    let generateButtonElement = {
        done: () => (`<p class="lead"> Done </p>`),
        complete: () => (`<button class="btn btn-primary rounded-pills" onclick="nextPhase()" type="button">Complete</button>`),
        review: (phaseId) => (`<button class="btn btn-warning rounded-pills" onclick="reviewPhase('${phaseId}')" type="button">Review</button>`)
    };


    let generateReviewElement = (title, rating, text) => (`<div class="card mt-2 p-2 bg-light"><span class="fst-italic">${title}'s Review: </span><small class="text-muted fst-italic">${rating}/5 stars</small>${text}</div>`);


    let reviewPhase = function (phaseId) {
        selectedPhaseId = phaseId;
        $("#txtArea").val("");
        $(".rating input:radio").each(function () {
            $(this).prop('checked', false);
        });
        myModal.show();
    }


    let sendReview = function () {
        data = {
            "text": $("#txtArea").val(),
            "rating": $('input[name="rating"]:checked').val()
        };

        $.ajax({
            type: 'PUT',
            contentType: "application/json",
            data: JSON.stringify(data),
            url: `http://localhost:8080/api/mentorships/${mentorshipId}/phases/${selectedPhaseId}/reviews/`,
            success: function (phaseId, status, xhr) {
                $(`#${phaseId} .row .col`).append(generateReviewElement(userTitle, data.rating, data.text));
                $(`#${phaseId} .row .col-auto`).empty();
                $(`#${phaseId} .row .col-auto`).append(generateButtonElement['done']());
                myModal.hide();
                showToast("bg-success", "Review sent!");
            },
            error: function (jqXhr, textStatus, errorMessage) {
                if (!jqXhr.responseText)
                    errorMessage = "Something went wrong!";
                else
                    errorMessage = jqXhr.responseText;
                showToast("bg-danger", errorMessage);
            }
        });
    }


    let nextPhase = function () {
        $.ajax({
            type: 'POST',
            url: `http://localhost:8080/api/mentorships/${mentorshipId}/nextPhase`,
            success: function (phaseId, status, xhr) {
                location.reload();
            },
            error: function (jqXhr, textStatus, errorMessage) {
                if (!jqXhr.responseText)
                    errorMessage = "Something went wrong!";
                else
                    errorMessage = jqXhr.responseText;
                showToast("bg-danger", errorMessage);
            }
        });
    }
</script>

</body>
</html>

