<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head('MentorHub :: Mentorship Details')"></div>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/popup.html :: popup"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Phase</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="text-center">
                    <span class="star-rating">
                      <input type="radio" name="rating" value="1"><i></i>
                      <input type="radio" name="rating" value="2"><i></i>
                      <input type="radio" name="rating" value="3"><i></i>
                      <input type="radio" name="rating" value="4"><i></i>
                      <input type="radio" name="rating" value="5"><i></i>
                    </span>
                </div>
                <br>
                <div class="form-floating">
                    <textarea class="form-control" id="txtArea" placeholder="Write an opinion..." required
                              style="height: 20vh; resize: none;"></textarea>
                    <label for="txtArea">Write an opinion...</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" th:onclick="sendReview()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div style="min-height: 100vh;">
    <div class="container pt-5">
        <div class="card ">
            <div class="card-header">
                <a class="btn btn-secondary rounded-circle" th:href="@{/dashboard}"><i
                        class="fas fa-arrow-left"></i></a>
            </div>
            <div class="card-body">
                <h4 class="my-4">Section Details</h4>
                <div class="row">

                    <div class="col-auto">
                        <div class="card bg-light p-3 mb-4">
                            <table>
                                <tr>
                                    <td class="fw-bold">Mentor:</td>
                                    <td class="ps-1" th:text="${mentorship.mentor.actualName}"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Mentee:</td>
                                    <td class="ps-1" th:text="${mentorship.mentee.actualName}"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Subject:</td>
                                    <td class="ps-1" th:text="${mentorship.majorSubject}"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Begin Date:</td>
                                    <td class="ps-1"
                                        th:if="${mentorship.beginDate == null}">
                                        &mdash;
                                    </td>
                                    <td class="ps-1"
                                        th:if="${mentorship.beginDate != null}"
                                        th:text="${#dates.format(mentorship.beginDate, 'yyyy/MM/dd')}"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Status:</td>
                                    <td class="ps-1" th:text="${mentorship.status}"></td>
                                </tr>
                            </table>
                            <button th:if="${mentorship.isNotStarted()}"
                                    type="button" onclick="nextPhase()" class="btn btn-secondary mt-3">
                                Start
                            </button>

                        </div>
                    </div>

                    <div class="col">
                        <h5 class="mb-3">Phases:</h5>
                        <p th:if="${mentorship.phases.isEmpty()}">No phases created, yet. </p>


                        <ul class="list-group">
                            <li class="list-group-item"
                                th:each="phase,iter : ${mentorship.phases}"
                                th:style="${iter.index < mentorship.currentPhaseIndex} ? 'background-color: #eef' : (${iter.index == mentorship.currentPhaseIndex} ? 'background-color : #efe'  : 'background-color : #fff')">
                                <div class="row">
                                    <div class="col">
                                        <div>
                                            <strong th:text="${iter.count+'.'}"></strong>
                                            <span th:text="${phase.name}"></span>
                                        </div>
                                        <br>
                                        <div>
                                            <small class="text-muted">
                                                End date: <span
                                                    th:text="${#dates.format(phase.endDate, 'yyyy/MM/dd')}"></span>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-auto mt-3"
                                         th:with="review=${currentUser.equals(mentorship.mentor)} ?  ${phase.mentorReview} : ${phase.menteeReview}">

                                        <p class="lead"
                                           th:if="${iter.index < mentorship.currentPhaseIndex && review != null}">
                                            Done
                                        </p>

                                        <button type="button" class="btn btn-warning rounded-pills"
                                                th:onclick="reviewPhase([[${phase.id}]])"
                                                th:if="${iter.index < mentorship.currentPhaseIndex && review == null}">
                                            Review
                                        </button>

                                        <button type="button" class="btn btn-primary rounded-pills"
                                                onclick="nextPhase()"
                                                th:if="${iter.index == mentorship.currentPhaseIndex}">
                                            Complete
                                        </button>

                                    </div>
                                </div>
                            </li>
                        </ul>

                        <a th:if="${mentorship.isNotStarted()}"
                           th:href="@{/plan/{id}(id=${mentorship.id})}" class="btn btn-primary mt-4">Plan</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    let mentorshipId = /*[[${mentorship.id}]]*/ "";
    let myModal = new bootstrap.Modal($("#exampleModal"))
    let selectedPhaseId = null;

    let reviewPhase = function (phaseId) {
        selectedPhaseId = phaseId;
        $("#txtArea").val("");
        $(".star-rating input:radio").each(function () {
            $(this).prop('checked', false);
        });
        myModal.show();
    }

    let sendReview = function () {
        data = {
            "text": $("#txtArea").val(),
            "rating": $('input[name="rating"]:checked').val()
        };
        $.ajax({
            type: 'PUT',
            contentType: "application/json",
            data: JSON.stringify(data),
            url: `http://localhost:8080/api/mentorships/${mentorshipId}/phases/${selectedPhaseId}/reviews`,
            success: function (data, status, xhr) {
                myModal.hide();
                showToast("bg-success", "Done!");
                setTimeout(function () {
                    location.reload();
                }, 1000);
            },
            error: function (jqXhr, textStatus, errorMessage) {
                if (!jqXhr.responseText)
                    errorMessage = "Something went wrong!";
                else
                    errorMessage = jqXhr.responseText;
                showToast("bg-danger", errorMessage);
            }
        });
    }

    let nextPhase = function () {
        $.ajax({
            type: 'POST',
            url: `http://localhost:8080/api/mentorships/${mentorshipId}/phases`,
            success: function (data, status, xhr) {
                location.reload();
            },
            error: function (jqXhr, textStatus, errorMessage) {
                if (!jqXhr.responseText)
                    errorMessage = "Something went wrong!";
                else
                    errorMessage = jqXhr.responseText;
                showToast("bg-danger", errorMessage);
            }
        });
    }
</script>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

