<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('MentorHub::Mentorship Application')"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div th:if="${errorTxt != null}" th:insert="fragments/popup :: popup ('bg-danger', ${errorTxt})"></div>
<div th:if="${successTxt != null}" th:insert="fragments/popup :: popup ('bg-success', ${successTxt})"></div>

<div style="min-height: 100vh;">
    <div class="container my-5">
        <div class="card border-1 rounded rounded-3">
            <div class="card-header">
                <a class="btn btn-secondary rounded-circle" href="/dashboard"><i class="fas fa-arrow-left"></i></a>
            </div>
            <div class="card-title text-center">
                <h5 class="display-5">Mentorship Application Form</h5>
            </div>
            <div class="card-body container">
                <form method="post" th:action="@{/apply}">

                    <div class="row mt-3">
                        <div class="col">
                            <label for="categoryselector">Select a major:</label>
                            <select class="form-select" id="categoryselector" required th:name="selectedCategory">
                                <option selected value=""></option>
                                <option th:each="category : ${categories}" th:text="${category.majorSubject}"
                                        th:value="${category.majorSubject}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <p class="mb-1">Please select at least 1 subject:</p>
                            <small class="text-danger" id="errSelectMajorFirst">Please select a major first.</small>
                            <div class="form-check categories" style="display: none" th:each="category : ${categories}"
                                 th:id="${category.majorSubject}">
                                <div th:each="subject : ${category.subjects}">
                                    <input class="form-check-input" th:id="${category + subject}"
                                           th:name="selectedSubject"
                                           th:value="${subject}" type="checkbox">
                                    <label class="form-check-label" th:for="${category + subject}"
                                           th:text="${subject}"> </label><br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-floating">
                                    <textarea class="form-control" disabled
                                              id="txtArea"
                                              placeholder="Explain yourself..." required
                                              style="height: 20vh; resize: none;"
                                              th:name="explainMsg"></textarea>
                                <label for="txtArea">Explain yourself...</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col text-center">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script th:inline="javascript">
    $("#categoryselector").change(function () {
        let selectedCategory = $("#categoryselector option:selected").text();
        $(".categories").each(function (index) {
            $(this).hide();
            $(this).find('input:checkbox').prop('checked', false);
        });
        if (selectedCategory == "") {
            $("#errSelectMajorFirst").show();
            $("#txtArea").prop('disabled', true);
        } else {
            $("#errSelectMajorFirst").hide();
            $("#txtArea").prop('disabled', false);
        }
        $(`#${selectedCategory}`).show();
    });
</script>
</body>
</html>

