<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('MentorHub::Dashboard')"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/popup.html :: popup"></div>

<div style="min-height: 100vh;">
    <div class="container pt-5">
        <div class="card ">
            <div class="card-header">
                <h1 class="card-title">Dashboard</h1>
                <small class="card-subtitle text-muted fst-italic" th:text="${currentUser.actualName}"></small>
            </div>
            <div class="card-body">
                <div class="col">
                    <h4 class="my-4">Search</h4>
                    <div class="container">
                        <h6>Found <span th:text="${mentorshipRequestList.size()}"></span> item(s)</h6>
                        <ul class="list-group">
                            <li class="list-group-item"
                                th:each="mentorshipRequest : ${mentorshipRequestList}">
                                <div class="row">
                                    <div class="col">
                                        <div>
                                        <span class="lead"
                                              th:text="${mentorshipRequest.selectedSubject.majorSubject}"></span>
                                            <small class="fst-italic text-muted" th:text="${mentorshipRequest.mentor.actualName}"></small>
                                        </div>
                                        <ul>
                                            <li th:each="subject : ${mentorshipRequest.selectedSubject.subjects}"
                                                th:text="${subject}"></li>
                                        </ul>
                                    </div>
                                    <div class="col-auto mt-3">
                                        <button class="btn btn-primary btn-sm rounded-pill"
                                                th:onclick="selectMentor([[${mentorshipRequest.id}]]);">
                                            Select
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-secondary rounded-circle" href="/dashboard"><i class="fas fa-arrow-left"></i></a>
            </div>
        </div>
    </div>
</div>

<script>
    let selectMentor = function (id) {
        $.ajax({
            type: 'PUT',
            url: `http://localhost:8080/api/mentorship/?mentorshipRequestId=${id}`,
            success: function (data, status, xhr) {
                showToast("bg-success", "Successfully registered!");
            },
            error: function (jqXhr, textStatus, errorMessage) {
                if (!jqXhr.responseText)
                    errorMessage = "Something went wrong!";
                else
                    errorMessage = jqXhr.responseText;
                showToast("bg-danger", errorMessage);
            }
        });
    }
</script>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

