<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <title>MentorHub :: Dashboard</title>
</head>

<body>
<th:block th:replace="fragments/header"></th:block>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Subject</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p><input class="form-control border-0 fs-3" id="formMajorNameFld"
                          placeholder="Enter Major Subject name"
                          type="text" value=""></p>
                <ul class="list-group list-group-flush" id="formSubjectList"></ul>
                <div class="text-center">
                    <a class="btn rounded-circle" onclick="addSubjectToForm()"><i class="fas fa-plus"></i></a>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick="saveChanges()" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div style="min-height: 100vh;">
    <div class="container my-5">
        <div class="card">

            <div class="card-header row">
                <div class="col">
                    <h1 class="card-title">Admin Panel</h1>
                    <small class="card-subtitle text-muted fst-italic" th:text="${currentUser.actualName}"></small>
                </div>
                <div class="col-auto nav nav-tabs flex-row">
                    <a class="nav-link" th:href="@{/dashboard}">Requests</a>
                    <a class="nav-link active" th:href="@{/subjects}">Subjects</a>
                </div>
            </div>

            <div class="card-body">
                <h4 class="my-4">Subjects</h4>
                <div class="container">
                    <p th:if="${subjectList.isEmpty()}">There is no subject, yet.</p>
                    <ul class="list-group" id="subjectList">

                        <li class="list-group-item" th:each="subjectItem : ${subjectList}" th:id="${subjectItem.id}">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-1" th:text="${subjectItem.majorSubject}">$MAJORNAME$</p>
                                    <ul class="text-muted">
                                        <li th:each="subject : ${subjectItem.subjects}" th:text="${subject}"></li>
                                    </ul>
                                </div>
                                <div class="col-auto btn-group mt-3 d-flex align-items-center">
                                    <button class="btn btn-primary me-2" th:onclick="editMajor([[${subjectItem.id}]]);"
                                            type="button">Edit
                                    </button>
                                    <button class="btn btn-danger" th:onclick="removeMajor([[${subjectItem.id}]]);"
                                            type="button">Remove
                                    </button>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card-footer">
                <button class="btn btn-secondary" onclick="createMajor()" type="button">Add Subject</button>
            </div>

        </div>
    </div>
</div>


<th:block th:replace="fragments/footer"></th:block>

<script>
    let currentId = null;
    let index = 0;

    let myModal = new bootstrap.Modal($("#exampleModal"))

    let removeSubjectFromForm = function (id) {
        $('#' + id).remove();
    }

    let addSubjectToForm = function (subjectName = "") {
        index += 1;
        element = `
            <li class="list-group-item d-flex" id="${'item' + index}">
                <input class="flex-fill form-control-sm border-0" type="text"
                       value="${subjectName}" placeholder="Enter subject name" />
                <button type="button" class="btn rounded-circle" onclick="removeSubjectFromForm('${'item' + index}')">
                    <i class="fas fa-minus"></i>
                </button>
            </li>`;
        $("#formSubjectList").append(element);
    }

    let editMajor = function (id = "") {
        $.getJSON(`http://localhost:8080/api/subjects/${id}`)
            .done(function (category) {
                $("#formMajorNameFld").val(category.majorSubject);
                $("#formSubjectList").empty();
                for (let i = 0; i < category.subjects.length; ++i) {
                    let subject = category.subjects[i];
                    addSubjectToForm(subject);
                }
                currentId = id;
                myModal.show();
            })
            .fail(function (jqxhr, textStatus, error) {
                if (!jqXhr.responseText)
                    errorMessage = "Something went wrong!";
                else
                    errorMessage = jqXhr.responseText;
                showToast("bg-danger", errorMessage);
            })
    }

    let createMajor = function () {
        $("#formMajorNameFld").val("");
        $("#formSubjectList").empty();
        currentId = null;
        myModal.show();
    }

    let saveChanges = function () {

        // get input
        let categoryName = $("#formMajorNameFld").val() || "";
        let subjects = $("#formSubjectList li input").map(function () {
            return $(this).val();
        }).get() || [];

        // ajax
        data = {
            id: currentId,
            majorSubject: categoryName,
            subjects: subjects
        };
        $.ajax({
            type: 'PUT',
            url: 'http://localhost:8080/api/subjects/',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (returnedData, status, xhr) {
                $(`#${data.id}`).remove();
                listElement = "";
                console.log(data.subjects);
                data.subjects.forEach(function (value) {
                    listElement += `<li>${value}</li>`;
                });
                element = `
                    <li class="list-group-item" id="${data.id}">
                        <div class="row">
                            <div class="col">
                                <p class="lead mb-1">${data.majorSubject}</p>
                                <ul class="text-muted">
                                    ${listElement}
                                </ul>
                            </div>
                            <div class="col-auto btn-group mt-3 d-flex align-items-center">
                                <button class="btn btn-primary me-2" onclick="editMajor('${data.id}');"
                                        type="button">Edit
                                </button>
                                <button class="btn btn-danger" onclick="removeMajor('${data.id}');"
                                        type="button">Remove
                                </button>
                            </div>
                        </div>
                    </li>`;
                $('#subjectList').append(element);
                myModal.hide();
                showToast("bg-success", "Changes saved!");
            },
            error: function (jqXhr, textStatus, errorMessage) {
                if (!jqXhr.responseText)
                    errorMessage = "Something went wrong!";
                else
                    errorMessage = jqXhr.responseText;
                showToast("bg-danger", errorMessage);
            }
        });
    }

    let removeMajor = function (id = "") {
        $.ajax({
            type: 'DELETE',
            url: `http://localhost:8080/api/subjects/${id}`,
            success: function (data, status, xhr) {
                $(`#${id}`).remove();
                showToast("bg-success", "Sucessfully removed!");
            },
            error: function (jqXhr, textStatus, errorMessage) {
                if (!jqXhr.responseText)
                    errorMessage = "Something went wrong!";
                else
                    errorMessage = jqXhr.responseText;
                showToast("bg-danger", errorMessage);
            }
        });
    }
</script>

</body>
</html>

