<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/head"></th:block>
  <title>MentorHub :: Subject Editor</title>
</head>

<body>
<th:block th:replace="fragments/header"></th:block>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Subject</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>

      <div class="modal-body">
        <p><input class="form-control border-0 fs-3" id="formMajorNameFld" placeholder="Enter Major Subject name" type="text" value=""></p>
        <ul class="list-group list-group-flush" id="formSubjectList"></ul>
        <div class="text-center"><a class="btn rounded-circle" onclick="addSubjectFieldToForm()"><i class="fas fa-plus"></i></a></div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
        <button class="btn btn-primary" onclick="saveChanges()" type="button">Save changes</button>
      </div>

    </div>
  </div>
</div>

<!-- Content -->
<div style="min-height: 100vh;">
  <div class="container my-5">
    <div class="card">

      <div class="card-header row">
        <div class="col">
          <h1 class="card-title">Admin Panel</h1>
          <small class="card-subtitle text-muted fst-italic" th:text="${currentUser.actualName}"></small>
        </div>
        <div class="col-auto nav nav-tabs flex-row">
          <a class="nav-link" th:href="@{/dashboard}">Requests</a>
          <a class="nav-link active" th:href="@{/subjects}">Subjects</a>
        </div>
      </div>

      <div class="card-body">
        <h4 class="my-4">Subjects</h4>
        <div class="container">
          <p id="noEntryTxt" th:style="${subjectList.isEmpty()}? 'display:block':'display:none'">No subject added.</p>
          <ul class="list-group" id="subjectList">

            <li class="list-group-item" th:each="subjectItem : ${subjectList}" th:id="${subjectItem.id}">
              <div class="row">
                <div class="col">
                  <p class="lead mb-1" th:text="${subjectItem.majorSubject}">$MAJORNAME$</p>
                  <ul class="text-muted">
                    <li th:each="subject : ${subjectItem.subjects}" th:text="${subject}"></li>
                  </ul>
                </div>
                <div class="col-auto mt-3 d-flex align-items-center">
                  <button class="btn btn-primary me-2" th:onclick="editMajor([[${subjectItem.id}]]);" type="button">Edit</button>
                  <button class="btn btn-danger" th:onclick="removeMajor([[${subjectItem.id}]]);" type="button">Remove</button>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>

      <div class="card-footer">
        <button class="btn btn-secondary" onclick="createMajor()" type="button">Add Subject</button>
      </div>

    </div>
  </div>
</div>


<th:block th:replace="fragments/footer"></th:block>

<script>
    const myModal = new bootstrap.Modal($("#exampleModal"))
    let selectedSubjectId = null;
    let index = 0;

    $('#subjectList').bind('DOMSubtreeModified', function () {
        if ($("#subjectList").children().length == 0) {
            $("#noEntryTxt").show();
        } else {
            $("#noEntryTxt").hide();
        }
    });


    let generateSubjectFieldElement = function (input_text_value) {
        index += 1;

        return (`
        <li class="list-group-item d-flex" id="item${index}">
          <input class="flex-fill form-control-sm border-0" type="text" value="${input_text_value}" placeholder="Enter subject name" />
          <button type="button" class="btn rounded-circle" onclick="removeSubjectFieldFromForm('item${index}')"> <i class="fas fa-minus"></i> </button>
        </li>`);
    };


    let generateSubjectElement = function (subjectId, majorSubjectName, subjects) {
        let DOM_li_subjects = "";
        subjects.forEach(function (value) {
            DOM_li_subjects += `<li>${value}</li>`;
        });

        return (`
        <li class="list-group-item" id="${subjectId}">
          <div class="row">
            <div class="col">
              <p class="lead mb-1">${majorSubjectName}</p>
              <ul class="text-muted"> ${DOM_li_subjects} </ul>
            </div>
            <div class="col-auto mt-3 d-flex align-items-center">
              <button class="btn btn-primary me-2" onclick="editMajor('${subjectId}');" type="button">Edit</button>
              <button class="btn btn-danger" onclick="removeMajor('${subjectId}');" type="button">Remove</button>
            </div>
          </div>
       </li>`);
    }


    let removeSubjectFieldFromForm = function (id) {
        $('#' + id).remove();
    };


    let addSubjectFieldToForm = function (subjectName = "") {
        let DOM_element = generateSubjectFieldElement(subjectName);
        $("#formSubjectList").append(DOM_element);
    };


    let editMajor = function (id = "") {
        selectedSubjectId = id;
        let DOM_subject = $(`#${id}`);
        let majorSubjectName = $(DOM_subject).find('p').text();
        let subjects = $(DOM_subject).find('li').map(function () {
            return $(this).text();
        }).get() || [];

        $("#formMajorNameFld").val(majorSubjectName);
        $("#formSubjectList").empty();
        for (let i = 0; i < subjects.length; ++i)
            addSubjectFieldToForm(subjects[i]);

        myModal.show();
    };


    let createMajor = function () {
        $("#formMajorNameFld").val("");
        $("#formSubjectList").empty();
        selectedSubjectId = null;

        myModal.show();
    };


    let saveChanges = function () {
        let categoryName = $("#formMajorNameFld").val() || "";
        let subjects = $("#formSubjectList li input").map(function () {
            return $(this).val();
        }).get() || [];
        data = {
            id: selectedSubjectId,
            majorSubject: categoryName,
            subjects: subjects
        };

        $.ajax({
            type: 'PUT',
            url: 'http://localhost:8080/api/subjects/',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (createdId, status, xhr) {
                $(`#${createdId}`).remove();
                let DOM_element = generateSubjectElement(createdId, data.majorSubject, data.subjects);
                $('#subjectList').append(DOM_element);
                myModal.hide();
                showToast("bg-success", "Changes saved!");
            },
            error: function (jqXhr, textStatus, errorMessage) {
                if (!jqXhr.responseText)
                    errorMessage = "Something went wrong!";
                else
                    errorMessage = jqXhr.responseText;
                showToast("bg-danger", errorMessage);
            }
        });
    }


    let removeMajor = function (id = "") {
        $.ajax({
            type: 'DELETE',
            url: `http://localhost:8080/api/subjects/${id}`,
            success: function (data, status, xhr) {
                $(`#${id}`).remove();
                showToast("bg-success", "Sucessfully removed!");
            },
            error: function (jqXhr, textStatus, errorMessage) {
                if (!jqXhr.responseText)
                    errorMessage = "Something went wrong!";
                else
                    errorMessage = jqXhr.responseText;
                showToast("bg-danger", errorMessage);
            }
        });
    }
</script>

</body>
</html>

