<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-size: 2rem">MentorHub</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"
                 style="justify-content: flex-end; text-align: center">
                <button class="btn btn-primary" onclick="logout()">Logout</button>
            </div>
        </div>
    </nav>
</div>
