<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="popup (msgType, msgText)">
    <div class="toast align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" th:text="${msgText}">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            let c = /*[[${msgType}]]*/ "bg-info";
            $('.toast').addClass(c);
            $('.toast').toast('show');
        });
    </script>
</div>
</body>
</html>